<!-- footer session -->
<footer id="footer">
    <div class="container">
    <!-- top footer -->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 column">
                <h4 class="border-line">Menu Information</h4>
		
		
                <ul class="nav">
                  
					
                    <li><a href = "#">Wedding photographer</a></li>
                    <li><a href = "#">Portfolio</a></li>
                    <li><a href = "#">freelance Wedding Photographer</a></li>
					<li><a href = "#">Wedding Photographer Packages and Prices</a></li>
                </ul>
            </div>
           <div class="col-xs-12 col-sm-12 col-md-3 column">
                <h4 class="border-line">Contact Info</h4>
		
                
				<address>
                    <strong>HLM Wedding Photography</strong><br>
                             Glasgow<br>
                    <abbr title="Phone">P:</abbr> 07547 572 042<br>
					 contact@hlmimagery.co.uk
                    </address>
					<h4>Follow Me</h4>
				<ul class="nav">	
                    <li><a href="https://www.facebook.com/3mmultimediadesign/" target="_blank"><i class="fa fa-facebook-square"> Facebook</i></a></li>
                    <li><a href="https://plus.google.com/u/0/b/106847358595709985381/+3mmultimediaCoUk" target="_blank"><i class="fa fa-google-plus-square"> Google+</i></a></li>
                    <li><a href="https://www.linkedin.com/in/serge-atse-sanle-5889a240" target="_blank"><i class="fa fa-linkedin-square"> Linkedin</i></a></li> 
                    <li><a href="https://twitter.com/3mmultimediades" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                    <li><a href="https://uk.pinterest.com/3mmultimediaweb/" target="_blank"><i class="fa fa-pinterest-square"> Pinterest</i></a></li>
					<li><a href="https://www.youtube.com/channel/UCu1qzp_feaTBXnX9I5jmLEQ" target="_blank"><i class="fa fa-youtube-square"> YouTube</i></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 column">
                <h4 class="border-line">Useful Links</h4>
	
		
                <ul class="nav">
                    
                    <li><a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/3mmultimediadesign" target="_blank">Recommend HLM Wedding Photography</a></li>
                    <li><a href="sitemap.html">Site map</a></li>
					<li><a href="#">Quote</a></li>
					<li><a href="#">Testimonials</a></li>
                  
                    
					
                </ul>
            </div>
             <div class="col-xs-12 col-sm-12 col-md-3 column">
                <h4 class="border-line">Photography Service</h4>
		
                <ul class="nav">
                    <li><a href="#">African Wedding Photography</a></li>
                    <li><a href="#">Asian Wedding Photography</a></li>
                    <li><a href="#">Traditional Wedding Photography</a></li>
                    
                </ul>
            </div>
        </div>
        <!--/row-->
        <p class="copyright text-center"></p>
    </div>
     <!-- bottom footer -->	  
    
       <div class="col-xs-12 col-sm-12 col-md-12 column bottom-footer">
        <ul class="list-unstyled list-inline col-lg-6 col-md-6 col-sm-12 col-xs-12">
		  <li>Copyright © 2013, HML Wedding Photography</li> 
		  <li><a href="#">Terms &amp; Conditions</a></li> 
		  <li><a href="#">Cookies &amp; Privacy Policy</a></li>
	    </ul>
		
		 <ul class="list-unstyled list-inline col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
         <li>  <a href="#tops">Go to top <i class="fa fa-arrow-circle-up fa-lg"></i></a></li>
         </ul>
       </div>
</footer>
