<!--background-->

	<div id="pic2" class="hlm-fixed-bg"></div>




		
<!-- About me top Section -->
    <section  class="content-section text-center">
	<div class="container">
	   <div class="row">
	   <h1 class="section-titles">About HLM Wedding Photography</h1>
	   <p class="text_normal">Welcome - Wedding - Baby - Portrait Photography</p>      
	   
              <div class="col-sm-12 col-md-4 col-lg-4">
			  <div class="thumbnail" id="main-title">
			   <i class="fa fa-user logos"></i>
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">About HLM Photography</a></h4>
                  <p class="text-description">Freelance Wedding photographer based in Glasgow Lanarkshire, HLM Imagery Photography, is a Wedding Photographer, fashion photographer, portrait photographer, Baby Photographer and Newborn Photographer in Scotland. I am Heather Louise Muir, the face behind HLM Wedding Photography, a Professional Freelance Wedding Photographer.</p>                  
                  <p class="text-description">I also cover Edinburgh, East kilbride, Giffnock, Newton Mearns, Ayshire, Cathcart, and more.</p> 
				  <p class="text-description">I have always had a passion for art and I have always been very creative. As a young girl I would spend hours studying the faces of people in photographs and translating them into drawings, I was equally as content designing and making my own clothes and soft furnishings.</p>
               </div>  
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4" >
			   <div class="thumbnail" id="second-title">
			    <i class="fa fa-camera logos"></i>
			       <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">My vision as Photographer</a></h4>
                  <p class="text-description">HLM Imagery Wedding Photography, I love to work with people, my vision is to capture something unique about each individual - something that makes that person unique and special.</p>                  
                  <p class="text-description">Each human being has their own personality and quirks, it is these little things that I aim to capture. Some people love the camera but most (including me!) don’t, my goal is to make that person feel at ease in front of the camera.</p> 
				  <p class="text-description">You will never hear us say “smile!” not every person likes to smile and a forced smile does not say anything about the person, instead I think it is more important to connect with the individual and build a rapport.</p> 
			   </div>
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4" >
			   <div class="thumbnail" id="third-title">
			    <i class="fa fa-photo logos"></i>
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Welcome to HLM Photography</a></h4>
                  <p class="text-description">Hello! I am Heather, the proud owner of HLM Imagery Photography, based in Glasgow. Thank you for taking the time to visit my website!</p>                  
                  <p class="text-description">Please feel free to browse around the site and get to know a bit about me and HLM Imagery Photography.</p> 
				  <p class="text-description">You will find out more about how I got into photography on here, you can view examples of my Wedding Photography's work in the “portfolio” section and you can even read what our dear clients have to say in the “love letters” page.</p>
                 
			  </div>
			  
           </div>
		   




      </div>  
    </section>
	
	<div id="pic1" class="hlm-fixed-bg"></div>
		
	
    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
	    <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Wedding Photography 
                    
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row bottom">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
	  
	   <div class="row">
           
	         <p class="text_normal">Wedding photographers, based in Glasgow and South Lanarshire, but I regularly travel throughout Scotland and beyond area such as .. Covering everything from engagement party to large and lavish weddings.</p>      
               <div class="col-sm-12 col-md-4 col-lg-4">
			      <h1 class="section-title">Why hire me</h1>   
			      <img src="../img/circle.jpg" class="image-responsive" alt="Cinque Terre" width="313" height="231"> 
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Wedding Photography</a></h4>
                  <p class="text-description">My philosophy is that wedding photography is not just about a single well exposed photograph, but about a whole series of beautifully crafted images that capture the whole essence of your Wedding Day.</p>                  
                    
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
			      <h1 class="section-title">What I do</h1>
			      <img src="../img/home-image.jpg" class="image-responsive" alt="Cinque Terre" width="313" height="231"> 
			       <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">What I do as Photographer</a></h4>
                  <p class="text-description">HLM Wedding Photography is a Lanarkshire based Wedding Photographer covering Glasgow and the surrounding areas.</p>                  
                   
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
			      <h1 class="section-title">Love Letter</h1>
			      <img src="../img/pepper.jpg" class="image-responsive" alt="Cinque Terre" width="313" height="231"> 
			       <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Wedding Photography Testimonials</a></h4>
                  <p class="text-description">I constantly strive to give the best service possible, it means so much to receive such great feedback from couples after all the hard work.</p>                  
                   
			  </div>
			  
           
        </div>
		
		</div>		
    </section>


	<!-- Social Media Section -->
	<section id="social" class="content-section text-center animated LightSpeedIn">
      <div class="container">
	   <div class="row">
             <h1 class="section-titles">Follow Me</h1>
	         <p class="text_normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>      
               <div class="col-sm-12 col-md-4 col-lg-4">
			      <a href="#"><img src="../img/facebook.jpg"></a>
			      <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Facebook Wedding Photography</a></h4> 
			  </div>
              <div class="col-sm-12 col-md-4 col-lg-4">
			       <a href="#"><img src="../img/linkedin.jpg"></a>
                 <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Linkedin Wedding Photography</a></h4>     
			  </div>
			  <div class="col-sm-12 col-md-4 col-lg-4">
			       <a href="#"><img src="../img/google+.jpg" ></a>
			    <h4 class="section-title-description"><a class="hlm-link" data-action="url" href="#" target="_self">Google+ Wedding Photography</a></h4>           
                   
			  </div>
              
			  
           
        </div>
		
		</div>		
    </section>